@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  width: 100%;
  height: 100vh;
  padding: 0;
  background: "red";
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.logo {
  height: 7em;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  padding: 15px 0;
  position: relative;
  font-size: 18px;
}

nav a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: transparent;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

nav a.active::after {
  width: 100%;
  background-color: #f48b38;
}

@font-face {
  font-family: "Titulos";
  src: url("./assets/fonts/Sugo-Pro-Classic-Regular-trial.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
